nav {
    background-color: var(--primary-color);
    color: var(--text-color1);
    padding-top: 1%;
    top: 0;
    position: sticky;
    width: 100%;
    text-align: center;
    z-index: 999;
}

.NavBarLinks {
    background-color: var(--secondary-color);
    /*gammel farge: #E5989B*/
}

.HomeLinkLogo {
    color: black;
    font-size: 10px;
}

.HomeLink {
    padding-right: 1%;
    padding-left: 1%;
    color: var(--text-color1);
}

.BrowseLink {
    padding-right: 1%;
    padding-left: 1%;
    color: var(--text-color1);
}

.HomeLink:hover {
    color: var(--text-color1);
    background-color: var(--accent-color);
}

.BrowseLink:hover {
    color: var(--text-color1);
    background-color: var(--accent-color);
}

.HomeLinkLogo:hover {
    color: var(--text-color1)
}

