.NavBar {
    background-color: #f8c2b4;
}

nav {
    padding-top: 1%;
    top: 0;
    position: sticky;
    width: 100%;
    text-align: center;
    z-index: 999;
}

.NavBarLinks {
    background-color: #E5989B;
    /*background-color: #FFAEC0;*/
}

.HomeLinkLogo {
    color: black;
    font-size: 10px;
}

.HomeLink {
    padding-right: 1%;
    padding-left: 1%;
    color: black;
    
}

.BrowseLink {
    padding-right: 1%;
    padding-left: 1%;
    color: black;
}

.HomeLink:hover {
    color: black;
    background-color: #FF66B3;
}

.BrowseLink:hover {
    color: black;
    background-color: #FF66B3;
}

.HomeLinkLogo:hover {
    color: black;
}

