.carousel-item {
  width: 60%;
  margin: auto;
  max-height: 100%;
}

#ingredients-and-measures {
  text-align: center;
  font-size: 0.9em;
}

.carousel-item img {
  width: 50vh;
  max-width: 70%;
  margin: auto;
  display: block;
  height: auto;
  border: 0.1em solid black;
}

.drinkname {
  font-size: 2vw;
  font-family: "Oswald", sans-serif;
  text-align: center;
}

@media only screen and (max-width: 800px) {
  .carousel-item {
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
    max-height: 100%;
  }

  .drinkname {
    font-size: 6vw;
    padding-top: 0%;
    margin-top: 0%;
  }

  .carousel-item img {
    width: 30vh;
    max-width: none;
  }
}
