.carousel-item img {
  width: 40vh;
  margin: auto;
  max-width: 100%;
  height: auto;
  border: 0.2em solid black;
}

.drinkname {
  font-size: 1.1em;
  font-family: "Oswald", sans-serif;
  text-align: center;
}
