.carousel-item {
  width: 60%;
  margin: auto;
  max-height: 100%;
}

.carousel-item img {
  margin: auto;
  display: block;
  width: 40vh;
  border: 0.1em solid black;
}

.carousel-item p {
  font-size: 2vh;
  text-align: center;
  line-height: 1.5;
}

.drinkname {
  font-size: 5vh;
  font-family: "Oswald", sans-serif;
  text-align: center;
  margin-top: 0;
}

@media only screen and (max-width: 800px) {
  .carousel-item {
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
  }

  .carousel-item img {
    width: 25vh;
  }

  .drinkname {
    font-size: 6vw;
    padding-top: 0%;
  }
}
