.carousel {
  width: 80vh;
  height: 70vh;
  margin: 1em auto;
  position: relative;
  /*border: 0.1em solid black;*/
  background-color: var(--accent-color);
  padding-top: 1%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.carousel-actions {
  display: flex;
  width: 10%;
  position: absolute;
}

.carousel-actions button {
  background-color: var(--secondary-color);
  font-size: 2em;
  font-weight: bold;
  width: 5vh;
  margin-left: 5%;
  border-radius: 100%;
  padding: 0.6em 1.2em;
  border: 0.02em solid black;
}

.carousel-actions button:hover {
  background-color: var(--bg-color);
}

#button-prev-container {
  left: 1%;
}

#button-next-container {
  right: 10%;
}

@media only screen and (max-width: 800px) {
  .carousel {
    width: 100vw;
    height: 100%;
    margin: 0;
    align-items: baseline;
  }

  .carousel-actions button {
    width: 20vw;
    height: 20vw;
    font-size: 4vw;
  }

  #button-prev-container {
    left: 2%;
  }

  #button-next-container {
    right: 5%;
  }
}
