body {
  margin: 0px;
  height: 100%;
}

#root {
  width: 100vw;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  height: 100%;
}

/*Filter CSS*/
.filter {
  background-color: var(--accent-color);
  -webkit-text-fill-color: var(--bg-color);
  text-align: left;
  position: relative;
  margin: 0;
  padding: 2%;
  flex: 1;
}

.input {
  background-color: var(--bg-color);
}

h3 {
  margin: 2%;
}

.filterButton,
.clearButton {
  -webkit-text-fill-color: black;
  margin-right: 10%;
  margin-top: 10%;
  height: 6vh;
  width: 100%;
  text-align: center;
  font-size: 2.5vh;
  border: none;
  border-radius: 3%;
}

.filterButton {
  background-color: var(--secondary-color);
}

.clearButton {
  background-color: var(--bg-color);
}

.filterButton:hover,
.clearButton:hover {
  background-color: var(--primary-color);
  border: 0.2em solid var(--secondary-color);
}

/*Contents CSS*/
.contents {
  background-color: var(--bg-color);
  position: relative;
  flex: 4;
  flex-grow: 4;
  padding: 1%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  padding-left: 1%;
  padding-right: 1%;
}

.favorite,
.notfavorite {
  background-color: var(--accent-color);
  margin-right: 2%;
  border-radius: 100%;
  width: 4vw;
  height: 4vw;
  text-align: center;
  font-size: 3vw;
  border: none;
}

.favorite {
  -webkit-text-fill-color: black;
}

.notfavorite {
  -webkit-text-fill-color: var(--secondary-color);
}

.notfavorite:hover {
  background-color: var(--accent-color);
  -webkit-text-fill-color: var(--bg-color);
}

@media only screen and (max-width: 800px) {
  .container {
    flex-direction: column;
  }

  .filter {
    text-align: center;
    max-height: 35vh;
  }

  .filterButton,
  .clearButton {
    margin-right: 10%;
    margin-top: 2%;
    height: 4vh;
    font-size: auto;
  }

  .favorite,
  .notfavorite {
    width: 6vw;
    height: 6vw;
    text-align: center;
    font-size: 5vw;
  }
}
